@charset "UTF-8";

/* 魔法のコード */
*{
    margin: 0;
    padding:0;
}

html {
font-size: 100%;
}

body {
color: #383e45;
font-size: 0.9rem;
background-color:rgba(188, 205, 205, 0.553);
}

li {
list-style: none;
}

.site-title {
width: 120px;
line-height: 1px;
padding: 10px 0;
}

.site-title a {
display: block;
}

.section-title {
display: inline-block;
font-size: 2rem;
text-align: center;
margin-bottom: 60px;
border-bottom: solid 1px #383e45;
font-family: Arial, Helvetica, sans-serif;
}

.content-title {
font-size: 1rem;
margin: 20px 0;
}

.wrapper {
max-width: 960px;
margin: 0 auto 75px auto;
padding: 0 4%;
text-align: center;
}

.works-title{
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
    font-family: Arial, Helvetica, sans-serif;
}

/*-ヘッダー-*/
#header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;

}
#header ul {
display: flex;
align-items: center;
padding: 10px 0;
}
#header li {
margin-left: 30px;
}
#header li a {
color: #24292e;
}
#header li a:hover {
opacity: 0.7;
}

/*-Mainvisual-*/
#mainvisual {
margin-bottom: 100px;
}

#mainvisual img {
width: 100%;
max-width: 3280px;
height: 400px;
object-fit: cover;
}

/*-About-*/
#about .content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #fff;
margin-top: 50px;
margin-bottom: 200px;
margin-right: 150px;
margin-left: 150px;
}

#about img { width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-top: 5px;
    margin-right: 0px; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    -ms-border-radius: 50%; 
    -o-border-radius: 50%;
}

#about .text {
margin-top: 30px;
text-align: left;
}

#about .text-title-name{
    font-family:fantasy;
    text-align: center;
    font-size: large;
}

#about dl{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    margin: 0 auto; 
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}

#about dt{
    width: 50%;
}

#about dl{
    width: 75%;
    /* margin-right: 50%; */
    /* background-color: #fff; */
}

#about dd{
    text-align: left;
}

/*-works-*/
#works ul{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

#works img{
    margin: 10px;
}

p.text{
    text-align: left;
    margin: 0 auto;
    
}

p.title{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*-footer-*/
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;
    text-align: center;
}

/*-SP-*/
@media screen and (max-width: 700px) {

/*-Mainvisual-*/
#mainvisual img {
    height: calc(100vh - 60px);
}

/*-About-*/
#about .content {
    flex-direction: column;
}
#about img {
    margin-right: 0;
}

} 

/* a {
text-decoration: none;
} */
/* img {
max-width: 100%;
} */